# Ignorar vídeos grandes
*.mp4
*.avi
*.mov

# Ignorar salidas temporales o resultados
VC_P4/P4/outputs/
VC_P4/P4/temp/

# Ignorar datasets e outputs específicos del P4b
*output_dataset.zip

# Matriculas
*Matriculas/*
*Matriculas.zip

*ocr_*